<div class="p-grid loginContainer">
    <div class="p-col-2"></div>
    <div class="p-col-8 loginBlock">
        <div class="p-grid bg-white">
            <div class="p-col loginIcon d-md-down-none">
                <!-- <img src="../../assets/icons/Picture1.jpg" style="max-width: 100%;"> -->
            </div>
            <div class="p-col">
                <form [formGroup]="myForm" (ngSubmit)="saveUser()">
                    <div class="p-fluid loginBox">
                        <h2 class="m-0">Reset Password</h2>
                        <br><br>
                        <div class="p-field">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-lock"></i>
                                </span>
                                <span class="p-float-label">
                                    <input id="password" formControlName="password"  name="password"  type="password" required  pInputText>
                                    <label for="password">Password</label>
                                </span>

                            </div>
                            <small class="text-danger" *ngIf="myForm.invalid && myForm.controls.password.errors?.pattern">Password must be between 8 to 19 characters with one Upper case alphabet and one special character</small>
                            <small class="text-danger" *ngIf="myForm.controls.password.touched && myForm.controls.password.errors?.required"> Password is required. </small>

                        </div>
                        <div class="p-field">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-lock"></i>
                                </span>
                                <span class="p-float-label">
                                    <input id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" type="password" required pInputText>
                                    <label for="confirmPassword">Confirm Password</label>
                                </span>
                            </div>
                            <small class="text-danger" *ngIf="myForm.controls.confirmPassword.touched && myForm.controls.confirmPassword.value!=myForm.controls.password.value"> Password & Confirm Password does not match.</small>

                        </div>

                        <div class="p-field text-right">
                            <p-button label="Reset Password" type="submit" styleClass="p-button p-button-pnb btn-block"></p-button>
                        </div>
                        <div class="p-fluid p-formgrid p-grid">

                            <div class="p-field p-col">
                                <a [routerLink]="['/login']" class="text-primary">Back To Login</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="p-col-3"></div>
</div>
<p-toast position="top-right"></p-toast>