<p-toast position="top-right"></p-toast>
<div class="p-grid p-fluid bg-white">
    <div class="p-col-12">
        <div class="p-inputgroup">

            <input type="text" pInputText placeholder="Search By username" [(ngModel)]="username">
            <p-button label="Search User" icon="pi pi-search" iconPos="left" styleClass="p-button p-button-pnb btn-block" (click)="getUser()"></p-button>
            <!-- <button type="button" pButton pRipple label="Search"></button> -->
        </div>
    </div>
    <!-- <div class="p-col-2">
        <button pButton type="button" label="Add New User" icon="pi pi-plus" iconPos="left" [routerLink]="['/users/add']"></button>
    </div> -->
    <div class="p-col-12">
        <p-table [value]="users" class="table-auto">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let head of headers" class="cursor-pointer" (click)="sortBy(head.APIname, head)">{{head.name}}</th>
                    <th>Roles</th>
                    <th style="width: 150px;">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.branch}}</td>
                    <td>{{user.cadre}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td>{{user.userName}}</td>
                    <td>
                        <p-table [value]="user.roles">
                            <ng-template pTemplate="body" let-role let-index="rowIndex"> {{role.name}} </ng-template>
                        </p-table>
                    </td>
                    <td>
                        <button pButton pRipple type="button" (click)="edit(user.userName)" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                        <button pButton pRipple type="button" (click)="delete(user.userName)" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <!-- <tfoot class="grey lighten-5 w-100"> -->
                <tr>
                    <td colspan="10" style="padding: 10px;">
                        <div class="pageFooter">
                            <nav style="margin: 0 auto;">
                                <ul class="pagination pagination-circle pg-blue d-flex flex-center" ng-reflect-klass="pagination pagination-circle p">

                                    <li (click)="setPage(1)" class="page-item" [ngClass]="{disabled:activePage === 0}">
                                        <a aria-label="Previous" class="page-link">
                                            <span aria-hidden="true">«</span>
                                        </a>
                                    </li>

                                    <li class="page-item" (click)="setPage(activePage - 1)" [ngClass]="{disabled:activePage === 0}">
                                        <a aria-label="Previous" class="page-link">
                                            <span aria-hidden="true">‹</span>
                                        </a>
                                    </li>
                                    <ng-container *ngFor="let page of pages;let i=index;">
                                        <li class="page-item" *ngIf="i<activePage+3&&i>activePage-3">
                                            <a class="page-link" [ngClass]="activePage==i?'active':''" (click)="setPage(i)">{{i+1}}</a>
                                        </li>
                                    </ng-container>
                                    <li class="page-item" (click)="setPage(activePage + 1)" [ngClass]="{disabled:activePage === pager.totalPages-1}">
                                        <a aria-label="Previous" class="page-link">
                                            <span aria-hidden="true">›</span>
                                        </a>
                                    </li>


                                    <li class="page-item" (click)="setPage(pager.totalPages)" [ngClass]="{disabled:activePage === pager.totalPages-1}">
                                        <a aria-label="Next" class="page-link">
                                            <span aria-hidden="true">»</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="m-0 row pagesize" style="display: inline-flex;">
                                <label class="col-md-6 mr-2 p-0 col-form-label" for="select3">Page Size</label>
                                <div class="col-md-6 p-0">
                                    <select [(ngModel)]="size" style="padding: 5px;" name="size" class="custom-select" (change)="setPage(1)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="250">250</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                </select>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- </tfoot> -->
            </ng-template>
        </p-table>
    </div>
</div>